<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="4" android:versionName="2.0" package="com.gsdan.hodlr">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Hodlr" android:icon="@mipmap/icon"></application>
</manifest>